@import './init.scss';
body, html{

	height: 100%;
	width: 100%;

	@include flexbox();
	@include flex-direction(column);
}
html{
	font-size: 100px;
	font-size: 26.7vw;
}

*{
	box-sizing: border-box;
	margin: 0 ;
	padding: 0 ;
	list-style: none;
}
img{  border: 0; }
a{ text-decoration: none;  }
.top{
	height: 20px;
	background: transparent;
}
.over{
	overflow:  hidden;
}
.container{
	@include flex(1); width: 100%;
	background: #f2f2f2;
	@include flexbox();
	@include flex-direction(column);
	
	header{
		background: #de3031;
		height: .5rem;
		@include flexbox();
		@include justify-content(space-between);
		@include align-items(center);
		padding: 0 16px;

		.back{
			background: url('http://static.jiaju.com/jiaju/com/m7gz/assets/images/payment/back.png') no-repeat;
			background-size: 100%;
			width: .09rem;
			height: .21rem;
		}

		h3{
			font: .18rem "微软雅黑";
			color: #ffffff;
		}

		.close{
			font:.15rem "微软雅黑";
			color: #ffffff;
		}
	}
	form{   @include flex(1); width: 100%; @include flexbox(); @include flex-direction(column); padding-top:.08rem   }
	.bgwitch{ background-color: #ffffff;  }

	.info{   padding: 0 .16rem; height:  1.2rem;  background: #f2f2f2 ;
		.infobox{
			@include flexbox();
			height:  100%;
			@include align-items(center);
			background: url('http://static.jiaju.com/jiaju/com/m7gz/assets/images/payment/bg.png') center no-repeat; background-size: 100%;
			padding-left: .16rem;

			.qiandai{
				background: url('http://static.jiaju.com/jiaju/com/m7gz/assets/images/payment/qiandai.png')  center no-repeat;
				background-size: 100%;
				height: .56rem;
				width: .46rem;
				@include align-self(center);
			}

			.wenzi{
				@include flex(1); width: 100%;
				padding-left: .16rem;
				h3{
					font-size: .16rem;
					color: #333333;
					font-weight: 100;

					span{
						font-size: .17rem;
						color: #de3031;
						line-height: .26rem;
					}
				}
				p{
					font-size: .12rem;
					color: #999999;
				}
			}
		}		
   }

   .banklist{
   		background: #ffffff;
   		width: 100%;

   		li{
   			@include flexbox();
   			width: 100%;
   			padding: 0 .16rem;
   			height: .6rem;
   			@include border( 0 0 1px 0, solid , #e3e3e3);
   			/* border-bottom: 1px solid #e3e3e3; */
   			/*@include justify-content(space-between);*/
   			@include align-items(center);
		
			.bank_name{
				color: #333333;
				font-size: .18rem;
				@include flex(1); width: 100%;
			}
			i{
				
			}
			.active{
				height: .24rem;
				width: .24rem;
				background:url(http://static.jiaju.com/jiaju/com/m7gz/assets/images/payment/zf_wc.png);
				background-size: 100% ;
			}

			>img{
				height: .24rem;
				width: .24rem;
			}
   			.bank_logo{
   				width: .42rem;
				height: .3rem;
				@include flexbox();
				@include align-items(center);
				img{
					max-height: .3rem;
					max-width: .36rem;
				}
   			}

   		}
   }
	.confirm{
		padding: .44rem .16rem 0 ;
		@include flexbox();
		input{
			border: 0;
			padding: 0;
			text-align: center;
			color: #ffffff;
			font-size: .18rem;
			line-height: .4rem;
			@include flex(1); width: 100%;
			height: .4rem;
			border-radius: .06rem;   
			background: #de3031;
			-webkit-appearance : none ;
		}
	}


	.success{
		@include flex(1); width: 100%;
		
		padding: 0 40px 110px;
		@include flexbox();
		background: #ffffff;

		@include align-items(center);
		@include justify-content(center);
		@include flex-direction(column);

		text-align: center;


		img{
			height: .74rem;
			width: .74rem;
		}
		h3{
			padding: .05rem 0;
			font-size: .18rem;
			color:#666666;
			line-height: .24rem;
			font-weight: 100;
		}
		p{
			font-size: .14rem;
			color: #999999;
			line-height: .2rem;
		}  
	}
	.failure{
		position: absolute;
		width: 100%;
		bottom: 1.1rem;
	}
}
