<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ title }} </title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<!-- 必须的 -->
{{if isDev}}
	<link rel="stylesheet" href="css/home.css">
{{/if}}

<link href="http://127.0.0.1:1314/css/home-4d0aee9fe46ab3ebfbb213e4218151e0.css" rel="stylesheet"></head>
<body>


	<div id="app">{{data}}</div>


<!--  必须的  -->
<script> 
	var initData = {{ initData }};
</script>

<script src="vendor.dll.js"></script>
<script src="plugin.dll.js"></script>
{{if isDev}}
	<script src="/reload/reload.js"></script>
    <script type="text/javascript" src="js/vendors.js"></script>
	<script type="text/javascript" src="js/home.js"></script>
{{/if}}
<script type="text/javascript" src="http://127.0.0.1:1314/js/vendors-5765cbfc881d4bcf2b47.js"></script><script type="text/javascript" src="http://127.0.0.1:1314/js/home-4f2a7a8c4cece9f4070d.js"></script></body>
</html>