<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>home </title>

{{if isDev}}
	<link rel="stylesheet" href="css/app.css">
{{/if}}

</head>
<body>
	
	<h1>{{ title }}</h1>
	<div id="app">{{data}}</div>
	<div>{{  name  }}</div>

	<script> 
		var initData = {{ initData }};
	</script>


<script src="vendor.dll.js"></script>
<script src="plugin.dll.js"></script>
{{if isDev}}
	<script src="/reload/reload.js"></script>
    <script type="text/javascript" src="js/vendors.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
{{/if}}

<script type="text/javascript" src="http://127.0.0.1:1314/js/vendors-348505d797bb514aa673.js"></script></body>
</html>