<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>demo </title>
<link href="http://localhost:3000/css/app.css" rel="stylesheet"><link href="http://localhost:3000/css/app-4bcc8151607de78e1c1eabf8196e8de5.css" rel="stylesheet"></head>
<body>


	<div>demo</div>




<script src="vendor.dll.js"></script>

{{if isDev}}
	<script src="/reload/reload.js"></script>
    <script type="text/javascript" src="js/vendors.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
{{/if}}

<script type="text/javascript" src="http://localhost:3000/js/vendors-675639a806bf588ac79d.js"></script><script type="text/javascript" src="http://localhost:3000/js/app-d9afaffdc1cc570a7863.js"></script></body>
</html>