@charset "utf-8";
@import '../../../init.scss';


.header{
	height: .44rem;
	padding: .07rem ;
	@include flexbox();
	@include flex-direction(row);
	@include align-items(center);

	
	div:nth-child(1){
		height: 80%;
		padding-right:.05rem;
		padding-left:.05rem;
		img{
			height: 100%;
			width: auto;
		}
	}
	div:nth-child(2){
		flex: 1;
		color: #ff9000;
		position: relative;
		font-size: .14rem;

		@include flexbox();
		@include align-items(center);
		
		span{
			padding-right: .02rem;
		}

		i{
			background:url('http://static.jiaju.com/jiaju/com/m7gz/assets/images/city-bg.png') no-repeat center;
			background-size: 100%;
			padding: .04rem .05rem;

		}
	}
	div:nth-child(3){
		@include flexbox();
		@include justify-content(center);		
		@include align-items(center);
		i{
			padding: .1rem .08rem;
			background:url('http://static.jiaju.com/jiaju/com/images/qgztouch/indexuser.png') no-repeat center;
			background-size: 100%;
		}
	}
	
}