<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>home </title>

{{if isDev}}
	<link rel="stylesheet" href="css/app.js">
{{/if}}

</head>
<body>
	
	<h1>{{ title }}</h1>
	<div id="app">{{data}}</div>
	<div>{{  name  }}</div>

	<script> 
		var initData = {{ initData }};
	</script>

	<script src="vendor.dll.js"></script>

{{if isDev}}
	<script src="/reload/reload.js"></script>
    <script type="text/javascript" src="js/vendors.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
{{/if}}

</body>
</html>